html{
    background-color:black;
    color:white;
}
div{
    width: 50%;
    text-align: center;
    margin-left: 25%;  
   
}
img{
    width: 100%;
   

}
h1{
    text-transform: uppercase;
    margin: 0px;
}

.font {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.font {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}
.font {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
